.contact
    .contact__header
        .contact__header__circle
        span.contact__header__name CONTACT
        .contact__header__line
    .contact__wrapper_first
        .contact__wrapper__name ADDRESS
        .contact__wrapper__value Main Street, City.
    .contact__wrapper
        .contact__wrapper__name E-MAIL
        .contact__wrapper__value contact@domain.com
    .contact__wrapper
        .contact__wrapper__name PHONE
        .contact__wrapper__value 555-555-555
    .contact__wrapper
        .contact__wrapper__name WEBSITE
        .contact__wrapper__value www.yourweb.com