body {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    margin-bottom: 7.7vw;
}

.space_row_1 {
    flex-basis: 5.24vw;
}

.space_row_2 {
    flex-basis: 6.49vw;
}

.space_row_3 {
    flex-basis: 4.637vw;
}

.left {
    flex-basis: 32.98vw;
}

.right {
    flex-basis: 50.65vw;
}

.name_block {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 8.3vw;

}

.inner_circle {
    flex-shrink: 0;
	background-color: #3d6cb0;
	border-radius: 50%;
	position: relative;
	height: 16.33vw;
	width: 16.33vw;
}

.inner_circle:before {
    content: " ";
	position: absolute;
	z-index: 1;
	top: -7%;
	left: -7%;
	right: -7%;
	bottom: -7%;
	border: 1px solid #3d6cb0;
	border-radius: 50%;
}

.name-list {
    text-align: center;
    margin-top: 4.27vw;
}

.first_name {
	font-family: 'Myriad Pro Light SemiExtended';
    font-size: 4.21vw;
    line-height: 0.71;
}

.second_name {
	font-family: "MyriadPro Bold";
    font-size: 4.98vw;
    line-height: 0.71;
    margin-top: 1.169vw;
}

.vacancy {
	font-family: 'MyriadPro BlackSemiCn';
    font-size: 2vw;
    margin-top: 1.85vw;
    line-height: 0.71;
}

.profile {
    margin-top: 6.935vw;
}

.flex_for_head_of_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile .inner_circle:before,
.contact .inner_circle:before,
.skills .inner_circle:before,
.education .inner_circle:before,
.experience .inner_circle:before,
.software .inner_circle:before {
    top: -6%;
	left: -6%;
	right: -6%;
    bottom: -6%;
    border-width: 1px;
}

.profile .inner_circle,
.contact .inner_circle,
.skills .inner_circle,
.education .inner_circle,
.experience .inner_circle,
.software .inner_circle {
    height: 5.12vw;
    width: 5.12vw;
}

.profile span,
.contact span,
.skills span,
.education .flex_for_head_of_block span,
.experience .flex_for_head_of_block span,
.software .flex_for_head_of_block span {
	font-family: "MyriadPro Bold";
	font-size: 3.32vw;
    color: #3d6cb0;
    padding-left: 15px;
}

.profile .line,
.contact .line,
.skills .line,
.education .line,
.experience .line,
.software .line {
    margin: 0 0 0 10px;
    height: 0.4vw;
    flex-grow: 1;
    background-color: #3d6cb0;
}

.text {
	font-family: Myriad Pro;
	font-size: 1.24vw;
    text-align: left;
}

.profile .text {
    margin-top: 1.45vw;
}

.contact {
    margin-top: 4.153vw;
}

.contact_wrapper > div {
    display: flex;
    margin-top: 2.98vw;
}

.contact_wrapper > div:nth-child(1) {
    margin-top: 3.0645vw;
}

.contact_name {
	color: #3d6cb0;
	font-family: "MyriadPro Bold";
	font-size: 1.66vw;
    flex-basis: 30%;
}

.contact_name + div {
    flex-basis: 70%;
    font-family: "MyriadPro Regular";
	font-size: 1.66vw;
}

.skills {
    margin-top: 4.31vw;
}

.skills_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills_wrapper > div {
    margin-top: 1.81vw;
}

.skills_wrapper > div:nth-child(1) {
    margin-top: 2.34vw;
}

.skills_name {
    text-align: center;
    font-family: "MyriadPro Regular";
    font-size: 2.07vw;
    padding-bottom: 0.887vw;
}

.skills ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 25.89vw;
}

.skills li {
    display: inline-block;
    background-color: #3d6cb0;
	border-radius: 50%;
	height: 1.41vw;
    width: 1.41vw;
}

.skills li.empty {
    background-color: #e6e6e6;
    
}

.education {
    margin-top: 6.45vw;
}

.experience {
    margin-top: 4.8vw;
}

.education_wrapper {
    display: flex;
    margin-left: 0.62vw;
    margin-top: 1.4vw;
}

.flex_for_head_of_block + .education_wrapper {
    margin-top: 2.9vw;
}

.experience_wrapper {
    display: flex;
    margin-left: 0.62vw;
    margin-top: 1.4vw;
}

.flex_for_head_of_block + .experience_wrapper {
    margin-top: 4.15vw;
}

.dot {
    flex-shrink: 0;
	height: 1.612vw;
	width: 1.612vw;
	border-radius: 50%;
	background-color: black;
}

.inner_wrapper {
    margin-left: 1.77vw;
}

.education .span_block,
.experience .span_block {
    display: flex;
    flex-wrap: wrap;
}

.education .span_block span,
.experience .span_block span {
    font-family: "MyriadPro Regular";
    font-size: 2.07vw;
    line-height: 2vw;
}

.education .span_block span:nth-child(1) {
    font-family: "MyriadPro Bold";
    color: #3d6cb0;
}

.experience .span_block span:nth-child(1) {
    font-family: "MyriadPro Bold";
}

.education .span_block span:nth-child(2),
.experience .span_block span:nth-child(2) {
    margin-left: 1.33vw;
}

.education .span_block span:nth-child(3),
.experience .span_block span:nth-child(3) {
    flex-basis: 100%;
    margin-top: 0.8vw;
}

.education .text,
.experience .text {
    margin-top: 0.8vw;
}

.software {
    margin-top: 4.8vw;
}

.software_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2.9vw;
}

.flex_left {
    flex-basis: 22.3vw;
    justify-content: start;
    flex-direction: column;
}

.flex_right {
    flex-basis: 22.3vw;
    justify-content: start;
    flex-direction: column;
}

.software .flex_left > div,
.software .flex_right > div {
    margin-top: 2.21vw;
}

.software .flex_left > div:nth-child(1),
.software .flex_right > div:nth-child(1) {
    margin-top: 0;
}

.software_name {
    font-family: "MyriadPro Regular";
    font-size: 2.07vw;
}

.software_level {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 1.41vw;
}

.software .software_wrapper span {
    display: inline-block;
	height: 1.77vw;
}

.software .full {
	background-color: #3d6cb0;
}

.software .empty {
	flex-grow: 1;
	background-color: #e6e6e6;
}

.software .flex_left > div:nth-child(1) .full {
    width: 95%;
}

.software .flex_left > div:nth-child(2) .full {
    width: 70%;
}

.software .flex_left > div:nth-child(3) .full {
    width: 50%;
}

.software .flex_right > div:nth-child(1) .full {
    width: 85%;
}

.software .flex_right > div:nth-child(2) .full {
    width: 60%;
}

.software .flex_right > div:nth-child(3) .full {
    width: 95%;
}

@font-face {
    font-family: "Myriad Pro Light SemiExtended";  
    src: url("fonts/Myraid Pro/Myriad Pro Light SemiExtended.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
    
@font-face {
    font-family: "MyriadPro Bold";  
    src: url("fonts/Myraid Pro/MyriadPro Bold.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: "MyriadPro BlackSemiCn";  
    src: url("fonts/Myraid Pro/MyriadPro BlackSemiCn.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
    
@font-face {
    font-family: "MyriadPro Regular";  
    src: url("fonts/Myraid Pro/MyriadPro Regular.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}