body {
	width: 2480px;
	margin: 0;
	padding: 0;
}

.left {
	float: left;
	height: 100%;
	width: 40%;
}

.names {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-left: 110px;
	margin-top: 176px;
}

.outer_circle {
	position: relative;
	border: 2px solid #3d6cb0;
	border-radius: 50%;
	height: 459px;
	width: 459px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inner_circle {
	background-color: #3d6cb0;
	border-radius: 50%;
	position: absolute;
	height: 404px;
	width: 404px;
}

.name-list {
	margin-top: 48px;
	width: 700px;
	text-align: center;
}

.first_name {
	font-family: 'Myriad Pro Light SemiExtended';
	font-size: 107px;
}

.second_name {
	font-family: Myriad Pro;
	font-size: 123.45px;
	font-weight: bold;
	line-height: 0.7;
}

.vacancy {
	font-family: 'MyriadPro BlackSemiCn';
	font-size: 49.97px;
	margin-top: 30px;
}

.profile {
	margin-left: 122px;
	margin-top: 152px;
}

.flex_profile {
	display: flex;
	align-items: center;
	width: 95%;
}

.outer_circle_small {
	position: relative;
	border: 2px solid #3d6cb0;
	border-radius: 50%;
	height: 139px;
	width: 145px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inner_circle_small {
	background-color: #3d6cb0;
	border-radius: 50%;
	position: absolute;
	height: 128px;
	width: 133px;
}

#profile {
	display: inline;
	font-family: "MyriadPro Bold";
	font-size: 82.3px;
	color: #3d6cb0;
	margin-left: 19px;
}

.profile .line {
	background-color: #3d6cb0;
	height: 10px;
	flex-grow: 1;
	margin-left: 15px;
	margin-bottom: 3px;
}

.text_profile {
	margin-top: 25px;
	font-family: Myriad Pro;
	font-size: 30.86px;
	text-align: left;
	width: 95%;
	height: 465px;
}

.contact {
	margin-left: 122px;
	margin-top: 109px;
}

.left > div:nth-child(3) .outer_circle_small,
.left > div:nth-child(4) .outer_circle_small {
	position: relative;
	border: 2px solid #3d6cb0;
	border-radius: 50%;
	height: 139px;
	width: 139px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.left > div:nth-child(3) .inner_circle_small,
.left > div:nth-child(4) .inner_circle_small {
	background-color: #3d6cb0;
	border-radius: 50%;
	position: absolute;
	height: 128px;
	width: 128px;
}

.contact #profile {
	display: inline;
	font-family: "MyriadPro Bold";
	font-size: 82.3px;
	color: #3d6cb0;
	margin-left: 25px;
	margin-bottom: 2px;
}

.contact .line {
	background-color: #3d6cb0;
	height: 10px;
	flex-grow: 1;
	margin-left: 12px;
	margin-bottom: 5px;
}

.contact_info {
	margin-top: 63px;
}

.contact_info > div {
	height: 50px;
}

.info_name {
	float: left;
	color: #3d6cb0;
	font-family: "MyriadPro Bold";
	font-size: 41.15px;
	width: 256px;
}

.contact_info div + div {
	margin-top: 59px;
}

.info_name + span {
	font-family: "MyriadPro Regular";
	font-size: 41.15px;
}

.skills {
	margin-left: 122px;
	margin-top: 93px;
}

.skills .flex_profile {
	display: flex;
	align-items: center;
	width: 94%;
}
.skills #profile {
	display: inline;
	font-family: "MyriadPro Bold";
	font-size: 82.3px;
	color: #3d6cb0;
	margin-left: 19px;
	margin-bottom: 2px;
}

.skills .line {
	background-color: #3d6cb0;
	height: 10px;
	flex-grow: 1;
	margin-left: 26px;
	margin-bottom: 4px;
}

.skills_level {
	margin-top: 47px;
	margin-right: 38px;
}

.skills_block {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.skills_level .skills_block + .skills_block {
	margin-top: 24px;
}

.skill_name {
	font-family: "MyriadPro Regular";
	font-size: 51.44px;
}

.skills_level ul {
	padding: 0;
	display: flex;
	justify-content: space-between;
	width: 642px;
	margin-right: 10px;
}

li.full {
	display: inline-block;
	background-color: #3d6cb0;
	border-radius: 50%;
	height: 35px;
	width: 35px;
}

li.empty {
	display: inline-block;
	background-color: #e6e6e6;
	border-radius: 50%;
	height: 35px;
	width: 35px;
}

.right {
	float: right;
	height: 100%;
	width: 60%;
}

.education {
	margin-top: 152px;
	margin-left: 109px;
	width: 89.5%;
}

.education #profile {
	margin-bottom: 5px;
	margin-left: 37px;
}

.education .line {
	background-color: #3d6cb0;
	flex-grow: 1;
	height: 10px;
	margin-left: 17px;
	margin-bottom: 6px;
}

.flex_master1 {
	display: flex;
	align-items: start;
	margin-top: 64px;
	margin-left: 24px;
	height: 230px;
}

.flex_master {
	display: flex;
	align-items: start;
	margin-top: 45px;
	margin-left: 24px;
	height: 230px;
}

.dot {
	flex-shrink: 0;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: black;
}

.block_list {
	display: flex;
	flex-wrap: wrap;
	margin-top: -12px;
	margin-left: 40px;
}

.block_list > span:first-child {
	font-family: "MyriadPro Bold";
	font-size: 51.44px;
	color: #3d6cb0;
}

.block_list span {
	font-family: "MyriadPro Regular";
	font-size: 51.44px;
}

.block_list > span:nth-child(2) {
	margin-left: 30px;
}

.block_list > span:nth-child(3) {
	margin-left: -1px;
	margin-top: 5px;
}

.block_list .text_profile {
	font-family: Myriad Pro;
	font-size: 30.86px;
	text-align: left;
	margin-top: 10px;
	margin-left: 4px;
}

.right .education:last-child {
	margin-top: 104px;
}

.right .education:last-child .outer_circle_small {
	position: relative;
	border: 2px solid #3d6cb0;
	border-radius: 50%;
	height: 145px;
	width: 150px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.right .education:last-child .inner_circle_small {
	background-color: #3d6cb0;
	border-radius: 50%;
	position: absolute;
	height: 133px;
	width: 137px;
}

.right .education:last-child .block_list span {
	color: black;
}

.right .education:last-child .block_list span:nth-child(3) {
	color: black;
	width: 500px;
}

.right .education:last-child .flex_master1 {
	margin-top: 94px;
}

@font-face {
font-family: "Myriad Pro Light SemiExtended";  
src: url("fonts/Myraid Pro/Myriad Pro Light SemiExtended.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
}
 
 @font-face {
font-family: "MyriadPro Bold";  
src: url("fonts/Myraid Pro/MyriadPro Bold.otf") format("truetype"); 
font-style: normal; 
font-weight: normal;
}

@font-face {
font-family: "MyriadPro BlackSemiCn";  
src: url("fonts/Myraid Pro/MyriadPro BlackSemiCn.otf") format("truetype"); 
font-style: normal; 
font-weight: normal;
}

@font-face {
font-family: "MyriadPro Regular";  
src: url("fonts/Myraid Pro/MyriadPro Regular.otf") format("truetype"); 
font-style: normal; 
font-weight: normal;
}