@media only screen and (max-width: 768px)
    $circles
        flex-shrink 0
        background-color #3d6cb0
        border-radius 50%
        position relative                                          
        background-repeat no-repeat
        background-position 50% 50%
        background-size 60% auto
        height 5em
        width 5em
    $header_names
        font-family "MyriadPro Bold"
        font-size 3em
        color #3d6cb0
        padding-left 15px

    $header_lines
        margin 0 0 0 10px
        height 8px
        flex-grow 1
        background-color #3d6cb0
    $textes
        font-family 'MyriadPro Regular'
        font-size 1em
        text-align left
    $software_level
        display inline-block
        height 1.3em
    .wrapper
        display flex
        flex-direction column
        margin 0 3% 7.7vw 3%
    .space-left
        display none
    .space-middle
        display none
    .space-right
        display none
    .names
        display flex
        align-items center
        flex-direction column
        margin-top 8.3vw
        &__circle
            flex-shrink 0
            background-color #3d6cb0
            border-radius 50%
            position relative
            height 12em
            width 12em
            &:before
                content " "
                position absolute
                z-index 1
                top -7%
                left -7%
                right -7%
                bottom -7%
                border 1px solid #3d6cb0
                border-radius 50%
        &__list
            text-align center
            margin-top 4.27vw
            &__first
                font-family 'Myriad Pro Light SemiExtended'
                font-size 4em
                line-height 0.71
            &__second
                font-family "MyriadPro Bold"
                font-size 4.6em
                line-height 0.71
                margin-top 1.169vw
            &__vacancy
                font-family 'MyriadPro BlackSemiCn'
                font-size 1.5em
                margin-top 1.85vw
                line-height 0.71
    .profile
        margin-top 6.935vw
        &__header
            @extends $header
            &__circle
                @extends $circles
                background-image url("../src/images/Profile_img.png")
                &:before
                    @extends $circles_before
            &__name
                @extends $header_names
            &__line
                @extends $header_lines
        &__text
            @extends $textes
            margin-top 15px
    .contact
        margin-top 4.153vw
        &__header
            @extends $header
            &__circle
                @extends $circles
                background-image url("../src/images/Contact_img.png")
                &:before
                    @extends $circles_before
            &__name
                @extends $header_names
            &__line
                @extends $header_lines
        &__wrapper
            display flex
            justify-content space-around
            margin-top 2.98vw
            &__name
                color #3d6cb0
                font-family "MyriadPro Bold"
                font-size 1.66em
                flex-basis 30%
            &__value
                flex-basis 70%
                font-family 'MyriadPro Regular'
                font-size 1.66em
        &__wrapper_first
            display flex
            justify-content space-around
            margin-top 3.0645vw
    .skills
        margin-top 4.31vw
        &__header
            @extends $header
            &__circle
                @extends $circles
                background-image url("../src/images/Skills_img.png")
                &:before
                    @extends $circles_before
            &__name
                @extends $header_names
            &__line
                @extends $header_lines
        &__body
            display flex
            flex-direction column
            align-items center
            &__block
                margin-top 1.81vw
                &__name
                    text-align center
                    font-family 'MyriadPro Regular'
                    font-size 1.6em
                    padding-bottom 0.887vw
                &__value
                    display flex
                    justify-content space-between
                    margin 0
                    padding 0
                    width 400px
                    &__circle
                        border-radius 50%
                        height 1.41em
                        width 1.41em
                        background-color #3d6cb0
                    &__circle_empty
                        @extends .skills__body__block__value__circle
                        background-color #e6e6e6
            &__block:first-child
                margin-top 2.34vw
    .education
        margin-top 6.45vw
        &__header
            @extends $header
            &__circle
                @extends $circles
                background-image url("../src/images/Education_img.png")
                &:before
                    @extends $circles_before
            &__name
                @extends $header_names
            &__line
                @extends $header_lines
        &__body
            display flex
            margin-left 0.62vw
            margin-top 20px
            &__dot
                flex-shrink 0
                height 1.3em
                width 1.3em
                border-radius 50%
                background-color black
            &__wrapper
                margin-left 1.77vw
                &__degree
                    display block
                    .level
                        font-family "MyriadPro Bold"
                        color #3d6cb0
                        font-size 2em
                        line-height 0.7em
                    .date
                        font-family 'MyriadPro Regular'
                        margin-left 30px
                        font-size 2em
                        line-height 0.7em
                    .university
                        display block
                        font-family 'MyriadPro Regular'
                        margin-top 10px
                        font-size 2em
                        line-height 0.7em
                &__text
                    @extends $textes
                    margin-top 15px
        &__body_first
            margin-top 2.9vw   
    .experience
        margin-top 4.8vw
        &__header
            @extends $header
            &__circle
                @extends $circles
                background-image url("../src/images/Experience_img.png")
                &:before
                    @extends $circles_before
            &__name
                @extends $header_names
            &__line
                @extends $header_lines
        &__body
            display flex
            margin-left 0.62vw
            margin-top 20px
            &__dot
                flex-shrink 0
                height 1.3em
                width 1.3em
                border-radius 50%
                background-color black
            &__wrapper
                margin-left 1.77vw
                &__degree
                    display block
                    .level
                        font-family 'MyriadPro Bold'
                        font-size 2em
                        line-height 0.7em
                    .date
                        font-family 'MyriadPro Regular'
                        margin-left 30px
                        font-size 2em
                        line-height 0.7em
                    .university
                        display block
                        font-family 'MyriadPro Regular'
                        margin-top 10px
                        font-size 2em
                        line-height 0.7em
                &__text
                    @extends $textes
                    margin-top 15px
        &__body_first
            margin-top 4.15vw         
    .software
        margin-top 4.8vw
        &__header
            @extends $header
            &__circle
                @extends $circles
                background-image url("../src/images/Software_img.png")
                &:before
                    @extends $circles_before
            &__name
                @extends $header_names
            &__line
                @extends $header_lines
        &__body
            display flex
            justify-content space-around
            margin-top 3.1vw
            &__left,
            &__right
                flex-basis 40%
                justify-content start
                flex-direction column
                &__wrapper
                    margin-top 2.21vw
                    &__name
                        font-family 'MyriadPro Regular'
                        font-size 1.5em
                    &__level
                        display flex
                        flex-wrap nowrap
                        margin-top 1.41vw
                        .full_photoshop
                            @extends $software_level
                            background-color #3d6cb0
                            width 95%
                        .full_illustrator
                            @extends $software_level
                            background-color #3d6cb0
                            width 70%
                        .full_indesign
                            @extends $software_level
                            background-color #3d6cb0
                            width 50%
                        .full_dreamweaver
                            @extends $software_level
                            background-color #3d6cb0
                            width 85%
                        .full_aftereffects
                            @extends $software_level
                            background-color #3d6cb0
                            width 60%
                        .full_htmlcss
                            @extends $software_level
                            background-color #3d6cb0
                            width 95%
                        .empty
                            @extends $software_level
                            background-color #e6e6e6
                            flex-grow 1
                    &_first
                        margin-top 0