@import "extends.styl"
@import "left/left.styl"
@import "right/right.styl"
@import "media768px.styl"
@import "media600px.styl"

*
    box-sizing border-box
body
    padding 0
    margin 0
.wrapper
    display flex
    margin-bottom 7.7vw
.space-left
    flex-basis 5.24vw
.space-middle
    flex-basis 6.49vw
.space-right
    flex-basis 4.637vw

@font-face
    font-family 'Myriad Pro Bold SemiExtended'
    src url('../src/fonts/Myriad Pro Bold SemiExtended.eot')
    src local('☺'), url('../src/fonts/Myriad Pro Bold SemiExtended.woff') format('woff'), url('../src/fonts/Myriad Pro Bold SemiExtended.ttf') format('truetype')
    font-weight normal
    font-style normal

@font-face
    font-family 'Myriad Pro Light SemiExtended'
    src url('../src/fonts/Myriad Pro Light SemiExtended.eot')
    src local('☺'), url('../src/fonts/Myriad Pro Light SemiExtended.woff') format('woff'), url('../src/fonts/Myriad Pro Light SemiExtended.ttf') format('truetype')
    font-weight normal
    font-style normal

@font-face
    font-family 'MyriadPro BlackSemiCn'
    src url('../src/fonts/MyriadPro BlackSemiCn.eot')
    src local('☺'), url('../src/fonts/MyriadPro BlackSemiCn.woff') format('woff'), url('../src/fonts/MyriadPro BlackSemiCn.ttf') format('truetype')
    font-weight normal
    font-style normal

@font-face
    font-family 'MyriadPro Bold'
    src url('../src/fonts/MyriadPro Bold.eot')
    src local('☺'), url('../src/fonts/MyriadPro Bold.woff') format('woff'), url('../src/fonts/MyriadPro Bold.ttf') format('truetype')
    font-weight normal
    font-style normal

@font-face
    font-family 'MyriadPro Regular'
    src url('../src/fonts/MyriadPro Regular.eot')
    src local('☺'), url('../src/fonts/MyriadPro Regular.woff') format('woff'), url('../src/fonts/MyriadPro Regular.ttf') format('truetype')
    font-weight normal
    font-style normal