.skills
    .skills__header
        .skills__header__circle
        span.skills__header__name SKILLS
        .skills__header__line
    .skills__body
        .skills__body__block
            .skills__body__block__name CREATIVE
            .skills__body__block__value
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle_empty
                .skills__body__block__value__circle_empty
                .skills__body__block__value__circle_empty
        .skills__body__block
            .skills__body__block__name TEAMWORK
            .skills__body__block__value
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle_empty
        .skills__body__block
            .skills__body__block__name INNOVATE
            .skills__body__block__value
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle_empty
                .skills__body__block__value__circle_empty
                .skills__body__block__value__circle_empty
                .skills__body__block__value__circle_empty
                .skills__body__block__value__circle_empty
                .skills__body__block__value__circle_empty
        .skills__body__block
            .skills__body__block__name COMMUNICATION
            .skills__body__block__value
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle
                .skills__body__block__value__circle_empty