.skills
    margin-top 4.31vw
    &__header
        @extends $header
        &__circle
            @extends $circles
            background-image url("../src/images/Skills_img.png")
            &:before
                @extends $circles_before
        &__name
            @extends $header_names
        &__line
            @extends $header_lines
    &__body
        display flex
        flex-direction column
        align-items center
        &__block
            margin-top 1.81vw
            &__name
                text-align center
                font-family 'MyriadPro Regular'
                font-size 2.07vw
                padding-bottom 0.887vw
            &__value
                display flex
                justify-content space-between
                margin 0
                padding 0
                width 25.89vw
                &__circle
                    border-radius 50%
                    height 1.41vw
                    width 1.41vw
                    background-color #3d6cb0
                &__circle_empty
                    @extends .skills__body__block__value__circle
                    background-color #e6e6e6
        &__block:first-child
            margin-top 2.34vw