mixin contact({address, email, phone, website})
    .contact
        .contact__item.contact__item_first
            .contact__name address
            .contact__value= address
        .contact__item
            .contact__name e-mail
            .contact__value= email
        .contact__item
            .contact__name phone
            .contact__value= phone
        .contact__item
            .contact__name website
            .contact__value= website