mixin contact({address, email, phone, website})
    .contact
        .contact__item.contact__item_first
            .contact__name address
            div(class="contact__value")= address
        .contact__item
            .contact__name e-mail
            a(class="contact__value contact__value_link" href="mailto: " + email)= email
        .contact__item
            .contact__name phone
            a(class="contact__value contact__value_link" href="tel: " + phone)= phone
        .contact__item
            .contact__name website
            a(class="contact__value contact__value_link" target="_blank"  rel="noopener noreferrer" href= website)= website