.experience
    .experience__header
        .experience__header__circle
        span.experience__header__name EXPERIENCE
        .experience__header__line
    .experience__body.experience__body_first
        .experience__body__dot
        .experience__body__wrapper
            .experience__body__wrapper__degree
                span.level COMPANY NAME
                span.date // Feb 2011 - Jun 2014
                span.university YOUR JOB HERE
            .experience__body__wrapper__text
                | Leman Russ, also known as the Wolf King and the Great Wolf during his lifetime, is the currently missing Primarch of the Space Wolves Chapter of Space Marines. He led the Space Wolves Legion during the Great Crusade and the Horus Heresy.
    .experience__body
        .experience__body__dot
        .experience__body__wrapper
            .experience__body__wrapper__degree
                span.level COMPANY NAME
                span.date // Feb 2011 - Jun 2014
                span.university YOUR JOB HERE
            .experience__body__wrapper__text
                | Leman Russ, also known as the Wolf King and the Great Wolf during his lifetime, is the currently missing Primarch of the Space Wolves Chapter of Space Marines. He led the Space Wolves Legion during the Great Crusade and the Horus Heresy.
    .experience__body
        .experience__body__dot
        .experience__body__wrapper
            .experience__body__wrapper__degree
                span.level COMPANY NAME
                span.date // Feb 2011 - Jun 2014
                span.university YOUR JOB HERE
            .experience__body__wrapper__text
                | Leman Russ, also known as the Wolf King and the Great Wolf during his lifetime, is the currently missing Primarch of the Space Wolves Chapter of Space Marines. He led the Space Wolves Legion during the Great Crusade and the Horus Heresy.