mixin information-list-item({mainInfo, date, subInfo, text, color})
    .information-list-item-item
        .information-list-item__item
            .information-list-item__list-mark
            .information-list-item__wrapper
                .information-list-item__header-info
                    span.information-list-item__main-info(style=`color: ${color}`)= mainInfo
                    span.information-list-item__date-info= date
                    span.information-list-item__sub-info= subInfo
                .information-list-item__text= text