.profile
    margin-top 6.935vw
    &__header
        @extends $header
        &__circle
            @extends $circles
            background-image url("../src/images/Profile_img.png")
            &:before
                @extends $circles_before
        &__name
            @extends $header_names
        &__line
            @extends $header_lines
    &__text
        @extends $textes
        margin-top 1.45vw