mixin experience({nameOfCompany, date, vacancy, text, isFirst})
    .experience
        .experience__item(class="experience__item_"+isFirst)
            .experience__pre-symbol
            .experience__wrapper
                .experience__degree
                    span.experience__name-of-company= nameOfCompany
                    span.experience__date= date
                    span.experience__vacancy= vacancy
                .experience__text= text