@import "../header/header.styl"

.experience

  &__item
    display flex
    margin-left 0.62vw
    margin-top 1.4vw
    @media only screen and (max-width: 768px)
      margin-top 2.5rem

    &_first
      margin-top 4.15vw

  &__pre-symbol
    flex-shrink 0
    height 2.7rem
    width 2.7rem
    border-radius 50%
    background-color black
    @media only screen and (max-width: 768px)
      height 2rem
      width 2rem

  &__wrapper
    margin-left 1.77vw

  &__degree
    display flex
    flex-wrap wrap
    @media only screen and (max-width: 768px)
      flex-direction column

  &__name-of-company
    font-weight 700
    font-size 2.8rem
    line-height 2.7rem
    text-transform uppercase

  &__date
    margin-left 1.33vw
    font-size 2.8rem
    line-height 2.7rem
    @media only screen and (max-width: 1066px)
      margin-top .8rem
      margin-left 0

  &__vacancy
    flex-basis 100%
    margin-top 0.8vw
    font-size 2.8rem
    line-height 2.7rem
    text-transform uppercase
    @media only screen and (max-width: 768px)
      margin-top 1.2rem

  &__text
    font-size 1.67rem
    margin-top 0.8vw
    @media only screen and (max-width: 768px)
      margin-top 1.9rem
      