.software
    .software__header
        .software__header__circle
        span.software__header__name SOFTWARE
        .software__header__line
    .software__body
        .software__body__left
            .software__body__left__wrapper.software__body__left__wrapper_first
                .software__body__left__wrapper__name PHOTOSHOP
                .software__body__left__wrapper__level
                    span.full_photoshop
                    span.empty
            .software__body__left__wrapper
                .software__body__left__wrapper__name ILLUSTRATOR
                .software__body__left__wrapper__level
                    span.full_illustrator
                    span.empty
            .software__body__left__wrapper
                .software__body__left__wrapper__name INDESIGN
                .software__body__left__wrapper__level
                    span.full_indesign
                    span.empty
        .software__body__right
            .software__body__right__wrapper.software__body__right__wrapper_first
                .software__body__right__wrapper__name DREAMWEAVER
                .software__body__right__wrapper__level
                    span.full_dreamweaver
                    span.empty
            .software__body__right__wrapper
                .software__body__right__wrapper__name AFTER EFFECTS
                .software__body__right__wrapper__level
                    span.full_aftereffects
                    span.empty
            .software__body__right__wrapper
                .software__body__right__wrapper__name HTML and CSS3
                .software__body__right__wrapper__level
                    span.full_htmlcss
                    span.empty