@import "../../variables/style-variables.styl"
@import "../header/header.styl"

.skill

  &__name
    text-align center
    font-size 2.79rem
    padding-bottom 0.887vw
    text-transform uppercase

  &__value
    display flex
    justify-content space-between
    margin 0
    padding 0
    width 35.21rem
    @media only screen and (max-width: 768px)
      width 48rem
    @media only screen and (max-width: 580px)
      width 33.7rem

.value

  &__circle
    border-radius 50%
    background-color #e6e6e6
    height 1.9rem
    width 1.9rem

    &_full
      background-color $main-color
  