$header
    display flex
    align-items center
    justify-content space-between

$circles
    flex-shrink 0
    background-color #3d6cb0
    border-radius 50%
    position relative                                          
    background-repeat no-repeat
    background-position 50% 50%
    background-size 60% auto
    height 5.12vw
    width 5.12vw

$circles_before
    top -6%
    left -6%
    right -6%
    bottom -6%
    border-width 1px
    content " "
    position absolute
    z-index 1
    border 1px solid #3d6cb0
    border-radius 50%

$header_names
    font-family "MyriadPro Bold"
    font-size 3.32vw
    color #3d6cb0
    padding-left 15px

$header_lines
    margin 0 0 0 10px
    height 0.4vw
    flex-grow 1
    background-color #3d6cb0
$textes
    font-family 'MyriadPro Regular'
    font-size 1.24vw
    text-align left
$software_level
    display inline-block
    height 1.77vw

*
    box-sizing border-box
body
    padding 0
    margin 0
.wrapper
    display flex
    margin-bottom 7.7vw
.space-left
    flex-basis 5.24vw
.left
    flex-basis 32.98vw
.names
    display flex
    align-items center
    flex-direction column
    margin-top 8.3vw
    &__circle
        flex-shrink 0
        background-color #3d6cb0
        border-radius 50%
        position relative
        height 16.33vw
        width 16.33vw
        &:before
            content " "
            position absolute
            z-index 1
            top -7%
            left -7%
            right -7%
            bottom -7%
            border 1px solid #3d6cb0
            border-radius 50%
    &__list
        text-align center
        margin-top 4.27vw
        &__first
            font-family 'Myriad Pro Light SemiExtended'
            font-size 4.21vw
            line-height 0.71
        &__second
            font-family "MyriadPro Bold"
            font-size 4.98vw
            line-height 0.71
            margin-top 1.169vw
        &__vacancy
            font-family 'MyriadPro BlackSemiCn'
            font-size 2vw
            margin-top 1.85vw
            line-height 0.71
.profile
    margin-top 6.935vw
    &__header
        @extends $header
        &__circle
            @extends $circles
            background-image url("../images/Profile_img.png")
            &:before
                @extends $circles_before
        &__name
            @extends $header_names
        &__line
            @extends $header_lines
    &__text
        @extends $textes
        margin-top 1.45vw
.contact
    margin-top 4.153vw
    &__header
        @extends $header
        &__circle
            @extends $circles
            background-image url("../images/Contact_img.png")
            &:before
                @extends $circles_before
        &__name
            @extends $header_names
        &__line
            @extends $header_lines
    &__wrapper
        display flex
        margin-top 2.98vw
        &__name
            color #3d6cb0
            font-family "MyriadPro Bold"
            font-size 1.66vw
            flex-basis 30%
        &__value
            flex-basis 70%
            font-family 'MyriadPro Regular'
            font-size 1.66vw
    &__wrapper_first
        display flex
        margin-top 3.0645vw
.skills
    margin-top 4.31vw
    &__header
        @extends $header
        &__circle
            @extends $circles
            background-image url("../images/Skills_img.png")
            &:before
                @extends $circles_before
        &__name
            @extends $header_names
        &__line
            @extends $header_lines
    &__body
        display flex
        flex-direction column
        align-items center
        &__block
            margin-top 1.81vw
            &__name
                text-align center
                font-family 'MyriadPro Regular'
                font-size 2.07vw
                padding-bottom 0.887vw
            &__value
                display flex
                justify-content space-between
                margin 0
                padding 0
                width 25.89vw
                &__circle
                    border-radius 50%
                    height 1.41vw
                    width 1.41vw
                    background-color #3d6cb0
                &__circle_empty
                    @extends .skills__body__block__value__circle
                    background-color #e6e6e6
        &__block:first-child
            margin-top 2.34vw
.space-middle
    flex-basis 6.49vw
.right
    flex-basis 50.65vw
    .education
        margin-top 6.45vw
        &__header
            @extends $header
            &__circle
                @extends $circles
                background-image url("../images/Education_img.png")
                &:before
                    @extends $circles_before
            &__name
                @extends $header_names
            &__line
                @extends $header_lines
        &__body
            display flex
            margin-left 0.62vw
            margin-top 1.4vw
            &__dot
                flex-shrink 0
                height 1.612vw
                width 1.612vw
                border-radius 50%
                background-color black
            &__wrapper
                margin-left 1.77vw
                &__degree
                    display flex
                    flex-wrap wrap
                    .level
                        font-family "MyriadPro Bold"
                        color #3d6cb0
                        font-size 2.07vw
                        line-height 2vw
                    .date
                        font-family 'MyriadPro Regular'
                        margin-left 1.33vw
                        font-size 2.07vw
                        line-height 2vw
                    .university
                        font-family 'MyriadPro Regular'
                        flex-basis 100%
                        margin-top 0.8vw
                        font-size 2.07vw
                        line-height 2vw
                &__text
                    @extends $textes
                    margin-top 0.8vw
        &__body_first
            margin-top 2.9vw
    .experience
        margin-top 4.8vw
        &__header
            @extends $header
            &__circle
                @extends $circles
                background-image url("../images/Experience_img.png")
                &:before
                    @extends $circles_before
            &__name
                @extends $header_names
            &__line
                @extends $header_lines
        &__body
            display flex
            margin-left 0.62vw
            margin-top 1.4vw
            &__dot
                flex-shrink 0
                height 1.612vw
                width 1.612vw
                border-radius 50%
                background-color black
            &__wrapper
                margin-left 1.77vw
                &__degree
                    display flex
                    flex-wrap wrap
                    .level
                        font-family 'MyriadPro Bold'
                        font-size 2.07vw
                        line-height 2vw
                    .date
                        font-family 'MyriadPro Regular'
                        margin-left 1.33vw
                        font-size 2.07vw
                        line-height 2vw
                    .university
                        font-family 'MyriadPro Regular'
                        flex-basis 100%
                        margin-top 0.8vw
                        font-size 2.07vw
                        line-height 2vw
                &__text
                    @extends $textes
                    margin-top 0.8vw
        &__body_first
            margin-top 4.15vw
    .software
        margin-top 4.8vw
        &__header
            @extends $header
            &__circle
                @extends $circles
                background-image url("../images/Software_img.png")
                &:before
                    @extends $circles_before
            &__name
                @extends $header_names
            &__line
                @extends $header_lines
        &__body
            display flex
            justify-content space-between
            margin-top 3.1vw
            &__left,
            &__right
                flex-basis 22.3vw
                justify-content start
                flex-direction column
                &__wrapper
                    margin-top 2.21vw
                    &__name
                        font-family 'MyriadPro Regular'
                        font-size 2.07vw
                    &__level
                        display flex
                        flex-wrap nowrap
                        margin-top 1.41vw
                        .full_photoshop
                            @extends $software_level
                            background-color #3d6cb0
                            width 95%
                        .full_illustrator
                            @extends $software_level
                            background-color #3d6cb0
                            width 70%
                        .full_indesign
                            @extends $software_level
                            background-color #3d6cb0
                            width 50%
                        .full_dreamweaver
                            @extends $software_level
                            background-color #3d6cb0
                            width 85%
                        .full_aftereffects
                            @extends $software_level
                            background-color #3d6cb0
                            width 60%
                        .full_htmlcss
                            @extends $software_level
                            background-color #3d6cb0
                            width 95%
                        .empty
                            @extends $software_level
                            background-color #e6e6e6
                            flex-grow 1
                    &_first
                        margin-top 0
.space-left
    flex-basis 4.637vw
                            
@font-face
    font-family 'Myriad Pro Bold SemiExtended'
    src url('../fonts/Myriad Pro Bold SemiExtended.eot')
    src local('☺'), url('../fonts/Myriad Pro Bold SemiExtended.woff') format('woff'), url('../fonts/Myriad Pro Bold SemiExtended.ttf') format('truetype')
    font-weight normal
    font-style normal

@font-face
    font-family 'Myriad Pro Light SemiExtended'
    src url('../fonts/Myriad Pro Light SemiExtended.eot')
    src local('☺'), url('../fonts/Myriad Pro Light SemiExtended.woff') format('woff'), url('../fonts/Myriad Pro Light SemiExtended.ttf') format('truetype')
    font-weight normal
    font-style normal

@font-face
    font-family 'MyriadPro BlackSemiCn'
    src url('../fonts/MyriadPro BlackSemiCn.eot')
    src local('☺'), url('../fonts/MyriadPro BlackSemiCn.woff') format('woff'), url('../fonts/MyriadPro BlackSemiCn.ttf') format('truetype')
    font-weight normal
    font-style normal

@font-face
    font-family 'MyriadPro Bold'
    src url('../fonts/MyriadPro Bold.eot')
    src local('☺'), url('../fonts/MyriadPro Bold.woff') format('woff'), url('../fonts/MyriadPro Bold.ttf') format('truetype')
    font-weight normal
    font-style normal

@font-face
    font-family 'MyriadPro Regular'
    src url('../fonts/MyriadPro Regular.eot')
    src local('☺'), url('../fonts/MyriadPro Regular.woff') format('woff'), url('../fonts/MyriadPro Regular.ttf') format('truetype')
    font-weight normal
    font-style normal