.contact
  &__item
    display flex
    margin-top 2.98vw
    @media only screen and (max-width: 768px)
      justify-content space-around
  &__name
    color #3d6cb0
    font-family "MyriadPro Bold"
    font-size 1.66vw
    flex-basis 30%
    text-transform uppercase
    @media only screen and (max-width: 768px)
      font-size 1.66em
  &__value
    flex-basis 70%
    font-family 'MyriadPro Regular'
    font-size 1.66vw
    @media only screen and (max-width: 768px)
      font-size 1.66em
.contact__item_first
    margin-top 3.0645vw