.header
  @extends $header
  &__circle
    @extends $circles
    &:before
      @extends $circles_before
    &_for-education
      background-image url("../images/Education_img.jpg")
  &__name
    @extends $header_names
  &__line
    @extends $header_lines
.education
  &__item
    display flex
    margin-left 0.62vw
    margin-top 1.4vw
    @media only screen and (max-width: 768px)
      margin-top 20px
    &_first
      margin-top 2.9vw
      @media only screen and (max-width: 768px)
        margin-top 20px
  &__dot
    flex-shrink 0
    height 2.1rem
    width 2.1rem
    border-radius 50%
    background-color black
  &__wrapper
    margin-left 1.77vw
  &__degree
    display flex
    flex-wrap wrap
    @media only screen and (max-width: 768px)
      display block
  &__level
    font-weight 700
    color #3d6cb0
    font-size 2.79rem
    line-height 2.7rem
    text-transform uppercase
    @media only screen and (max-width: 768px)
      line-height 0.7em
  &__date
    margin-left 1.33vw
    font-size 2.79rem
    line-height 2.7rem
    @media only screen and (max-width: 768px)
      line-height 0.7em
  &__university
    flex-basis 100%
    margin-top 0.8vw
    font-size 2.79rem
    line-height 2.7rem
    text-transform uppercase
    @media only screen and (max-width: 768px)
      display block
      margin-top 10px
      line-height 0.7em
  &__text
    @extends $textes
    margin-top 0.8vw
    @media only screen  and (max-width: 768px)
      margin-top 15px