.education
    .header
        .header__circle.header__circle_for-education
        span.header__name education
        .header__line
    .education__item.education__item_first
        .education__dot
        .education__wrapper
            .education__degree
                span.education__level master degree
                span.education__date // Feb 2011 - Jun 2014
                span.education__university university name
            .education__text
                | Leman Russ, also known as the Wolf King and the Great Wolf during his lifetime, is the currently missing Primarch of the Space Wolves Chapter of Space Marines. He led the Space Wolves Legion during the Great Crusade and the Horus Heresy.
    .education__item
        .education__dot
        .education__wrapper
            .education__degree
                span.education__level master degree
                span.education__date // Feb 2011 - Jun 2014
                span.education__university university name
            .education__text
                | Leman Russ, also known as the Wolf King and the Great Wolf during his lifetime, is the currently missing Primarch of the Space Wolves Chapter of Space Marines. He led the Space Wolves Legion during the Great Crusade and the Horus Heresy.
    .education__item
        .education__dot
        .education__wrapper
            .education__degree
                span.education__level master degree
                span.education__date // Feb 2011 - Jun 2014
                span.education__university university name
            .education__text
                | Leman Russ, also known as the Wolf King and the Great Wolf during his lifetime, is the currently missing Primarch of the Space Wolves Chapter of Space Marines. He led the Space Wolves Legion during the Great Crusade and the Horus Heresy.
    .education__item
        .education__dot
        .education__wrapper
            .education__degree
                span.education__level master degree
                span.education__date // Feb 2011 - Jun 2014
                span.education__university university name
            .education__text
                | Leman Russ, also known as the Wolf King and the Great Wolf during his lifetime, is the currently missing Primarch of the Space Wolves Chapter of Space Marines. He led the Space Wolves Legion during the Great Crusade and the Horus Heresy.