.experience
  &__item
    display flex
    margin-left 0.62vw
    margin-top 1.4vw
    @media only screen and (max-width: 768px)
      margin-top 20px
  &__dot
    flex-shrink 0
    height 2.1rem
    width 2.1rem
    border-radius 50%
    background-color black
  &__wrapper
    margin-left 1.77vw
  &__degree
    display flex
    flex-wrap wrap
    @media only screen and (max-width: 768px)
      display block
    .level
      font-weight 700
      font-size 2.79rem
      line-height 2.3rem
      text-transform uppercase
    .date
      margin-left 1.33vw
      font-size 2.79rem
      line-height 2.3rem
      @media only screen and (max-width: 768px)
        margin-left 30px
        line-height 0.7em
    .university
      flex-basis 100%
      margin-top 0.8vw
      font-size 2.79rem
      line-height 2.3rem
      text-transform uppercase
      @media only screen and (max-width: 768px)
        display block
        margin-top 10px
        line-height 0.7em
  &__text
    @extends $textes
    margin-top 0.8vw
    @media only screen and (max-width: 768px)
      margin-top 15px
.experience__item_first
  margin-top 4.15vw