.wrapper__grid-left
    .names_pushed-top
        include names.pug
    .profile_pushed-top
        include profile.pug
    .contact_pushed-top
        include contact.pug
    .skills_pushed-top
        include skills.pug