@import "names.styl"
@import "profile.styl"
@import "contact.styl"
@import "skills.styl"

.wrapper__grid-left
  flex-basis 32.98vw
.names_pushed-top
  margin-top 8.3vw
.profile_pushed-top
  margin-top 6.935vw
.contact_pushed-top
  margin-top 4.153vw
.skills_pushed-top
  margin-top 4.31vw