@import "education.styl"
@import "experience.styl"
@import "software.styl"

.wrapper__grid-right
  flex-basis 50.65vw
.education_pushed-top
  margin-top 6.45vw
.experience_pushed-top
  margin-top 4.8vw
.software_pushed-top
  margin-top 4.8vw