@import "extends.styl"
@import "grid-left.styl"
@import "grid-right.styl"

html 
  background #ffffff
  font-family "MyriadPro", Arial, sans-serif
  font-weight 400
  font-style normal
  font-size 62.5%
  color #000
  @media only screen and (max-width: 768px)
    font-size 52%
*
  box-sizing border-box
body
  padding 0
  margin 0
.wrapper
  display flex
  margin-bottom 7.7vw
  @media only screen and (max-width: 768px)
    flex-direction column
    margin 0 3% 7.7vw 3%
  &__space-left
    flex-basis 5.24vw
    @media only screen and (max-width: 768px)
      display none
  &__space-middle
    flex-basis 6.49vw
    @media only screen and (max-width: 768px)
      display none
  &__space-right
    flex-basis 4.637vw
    @media only screen and (max-width: 768px)
      display none
.header
  @extends $header
  &__circle
    @extends $circles
    &:before
      @extends $circles_before
  &__name
    @extends $header_names
  &__line
    @extends $header_lines

.profile_margin
  margin-top 6.935vw
.header__circle_profile
  background-image url("../images/Profile_img.png")
.contact_margin
  margin-top 4.153vw
.header__circle_contact
  background-image url("../images/Contact_img.png")
.skills_margin
  margin-top 4.31vw
.header__circle_skills
  background-image url("../images/Skills_img.png")
.education_margin
  margin-top 6.45vw
.header__circle_education
  background-image url("../images/Education_img.png")
.experience_margin
  margin-top 4.8vw
.header__circle_experience
  background-image url("../images/Experience_img.png")
.software_margin
  margin-top 4.8vw
.header__circle_software
  background-image url("../images/Software_img.png")


@font-face
  font-family 'Myriad Pro SemiExtended'
  src url('../fonts/Myriad Pro Bold SemiExtended.eot')
  src local('☺'), url('../fonts/Myriad Pro Bold SemiExtended.woff') format('woff'), url('../fonts/Myriad Pro Bold SemiExtended.ttf') format('truetype')
  font-weight 700
  font-style normal

@font-face
  font-family 'Myriad Pro SemiExtended'
  src url('../fonts/Myriad Pro Light SemiExtended.eot')
  src local('☺'), url('../fonts/Myriad Pro Light SemiExtended.woff') format('woff'), url('../fonts/Myriad Pro Light SemiExtended.ttf') format('truetype')
  font-weight 300
  font-style normal

@font-face
  font-family 'MyriadPro SemiCn'
  src url('../fonts/MyriadPro BlackSemiCn.eot')
  src local('☺'), url('../fonts/MyriadPro BlackSemiCn.woff') format('woff'), url('../fonts/MyriadPro BlackSemiCn.ttf') format('truetype')
  font-weight 900
  font-style normal

@font-face
  font-family 'MyriadPro'
  src url('../fonts/MyriadPro Bold.eot')
  src local('☺'), url('../fonts/MyriadPro Bold.woff') format('woff'), url('../fonts/MyriadPro Bold.ttf') format('truetype')
  font-weight 700
  font-style normal

@font-face
  font-family 'MyriadPro'
  src url('../fonts/MyriadPro Regular.eot')
  src local('☺'), url('../fonts/MyriadPro Regular.woff') format('woff'), url('../fonts/MyriadPro Regular.ttf') format('truetype')
  font-weight 400
  font-style normal