.header
  @extends $header
  &__circle
    @extends $circles
    &:before
      @extends $circles_before
    &_for-profile
      background-image url("../images/Profile_img.jpg")
  &__name
    @extends $header_names
  &__line
    @extends $header_lines
.profile__text
  @extends $textes
  margin-top 1.45vw
  @media only screen and (max-width: 768px)
    margin-top 15px