.header
  @extends $header
  &__circle
    @extends $circles
    &:before
      @extends $circles_before
    &_for-skills
      background-image url("../images/Skills_img.png")
  &__name
    @extends $header_names
  &__line
    @extends $header_lines
.skills
  &__body
    display flex
    flex-direction column
    align-items center
  &__item
    margin-top 1.81vw
    &_first
      margin-top 2.34vw
  &__name
    text-align center
    font-size 2.79rem
    padding-bottom 0.887vw
    text-transform uppercase
  &__value
    display flex
    justify-content space-between
    margin 0
    padding 0
    width 25.89vw
    @media only screen and (max-width: 768px)
      width 400px
.value__circle
  border-radius 50%
  height 1.41vw
  width 1.41vw
  background-color #3d6cb0
  @media only screen and (max-width: 768px)
    height 2.41rem
    width 2.41rem
.value__circle_empty
  background-color #e6e6e6