mixin names({firstName, surname, vacancy})
    .names
        .names__circle
        .names__list
            .names__first-name= firstName
            .names__surname= surname
            .names__vacancy= vacancy