.education
    .education__header
        .education__header__circle
        span.education__header__name EDUCATION
        .education__header__line
    .education__body.education__body_first
        .education__body__dot
        .education__body__wrapper
            .education__body__wrapper__degree
                span.level MASTER DEGREE
                span.date // Feb 2011 - Jun 2014
                span.university UNIVERSITY NAME
            .education__body__wrapper__text
                | Leman Russ, also known as the Wolf King and the Great Wolf during his lifetime, is the currently missing Primarch of the Space Wolves Chapter of Space Marines. He led the Space Wolves Legion during the Great Crusade and the Horus Heresy.
    .education__body
        .education__body__dot
        .education__body__wrapper
            .education__body__wrapper__degree
                span.level MASTER DEGREE
                span.date // Feb 2011 - Jun 2014
                span.university UNIVERSITY NAME
            .education__body__wrapper__text
                | Leman Russ, also known as the Wolf King and the Great Wolf during his lifetime, is the currently missing Primarch of the Space Wolves Chapter of Space Marines. He led the Space Wolves Legion during the Great Crusade and the Horus Heresy.
    .education__body
        .education__body__dot
        .education__body__wrapper
            .education__body__wrapper__degree
                span.level MASTER DEGREE
                span.date // Feb 2011 - Jun 2014
                span.university UNIVERSITY NAME
            .education__body__wrapper__text
                | Leman Russ, also known as the Wolf King and the Great Wolf during his lifetime, is the currently missing Primarch of the Space Wolves Chapter of Space Marines. He led the Space Wolves Legion during the Great Crusade and the Horus Heresy.
    .education__body
        .education__body__dot
        .education__body__wrapper
            .education__body__wrapper__degree
                span.level MASTER DEGREE
                span.date // Feb 2011 - Jun 2014
                span.university UNIVERSITY NAME
            .education__body__wrapper__text
                | Leman Russ, also known as the Wolf King and the Great Wolf during his lifetime, is the currently missing Primarch of the Space Wolves Chapter of Space Marines. He led the Space Wolves Legion during the Great Crusade and the Horus Heresy.