@import "../../variables/style-variables.styl"

.person
  display flex
  align-items center
  flex-direction column
  text-transform uppercase

  &__emblem
    flex-shrink 0
    background-color $main-color
    border-radius 50%
    position relative
    height 22rem
    width 22rem
    @media only screen and (max-width: 768px)
      height 18rem
      width 18rem

    &:before
      content " "
      position absolute
      z-index 1
      top -7%
      left -7%
      right -7%
      bottom -7%
      border .1rem solid $main-color
      border-radius 50%

  &__info
    text-align center
    margin-top 4.27vw

  &__first-name
    font-family 'Myriad Pro SemiExtended', Arial, sans-serif
    font-weight 300
    font-style normal
    font-size 5.68rem
    line-height 0.71
    margin 0
    padding 0

  &__surname
    font-weight 700
    font-size 6.72rem
    line-height 0.71
    margin 1.169vw 0 0 0
    padding 0

  &__vacancy
    font-family 'MyriadPro SemiCn', Arial, sans-serif
    font-weight 900
    font-style normal
    font-size 2.7rem
    margin 1.85vw 0 0 0
    line-height 0.71
    padding 0