mixin person({firstName, surname, vacancy})
    .person
        .person__emblem
        .person__info
            .person__first-name= firstName
            .person__surname= surname
            .person__vacancy= vacancy