mixin person({firstName, surname, vacancy})
    section.person
        .person__emblem
        .person__info
            h2.person__first-name= firstName
            h2.person__surname= surname
            h3.person__vacancy= vacancy