include ../header/header.pug

.skills
    +header("skills", "for-skills")
    .skills__body
        .skills__item.skills__item_first
            .skills__name creative
            .skills__value
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle
                .value__circle
                .value__circle
        .skills__item
            .skills__name teamwork
            .skills__value
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle
        .skills__item
            .skills__name innovate
            .skills__value
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
        .skills__item
            .skills__name communication
            .skills__value
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle.value__circle_full
                .value__circle