@import "blocks/names/names.styl"
@import "blocks/profile/profile.styl"
@import "blocks/contact/contact.styl"
@import "blocks/skills/skills.styl"
@import "blocks/education/education.styl"
@import "blocks/experience/experience.styl"
@import "blocks/software/software.styl"

*
  box-sizing border-box

html 
  background #ffffff
  font-family "MyriadPro", Arial, sans-serif
  font-weight 400
  font-style normal
  font-size 62.5%
  color #000
  @media only screen and (max-width: 768px)
    font-size 52%

body
  padding 0
  margin 0

.wrapper
  display flex
  padding-bottom 7.7vw
  @media only screen and (max-width: 768px)
    flex-direction column
    margin 0 3% 7.7vw 3%

.cell-1
  flex-basis 5.24vw
  @media only screen and (min-width: 1650px)
    flex-basis 350px
  @media only screen and (max-width: 768px)
    display none

.cell-2
  flex-basis 32.98vw

.names-wrapper
  margin-top 8.3vw

.profile-wrapper
  margin-top 6.935vw

.contact-wrapper
  margin-top 4.153vw

.skills-wrapper
  margin-top 4.31vw

.skills__container
  display flex
  flex-direction column
  align-items center
  margin-top 0.9vw

.cell-3
  flex-basis 6.49vw
  @media only screen and (max-width: 768px)
    display none

.cell-4
  flex-basis 50.65vw

.education-wrapper
  margin-top 6.45vw

.experience-wrapper
  margin-top 4.8vw

.software-wrapper
  margin-top 4.8vw

.software__container
  display grid
  grid-template-columns 1fr 1fr
  grid-template-rows auto
  grid-column-gap 5.61vw
  grid-row-gap 2.21vw
  margin-top 3.1vw

.cell-5
  flex-basis 4.637vw
  @media only screen and (min-width: 1650px)
    flex-basis 350px
  @media only screen and (max-width: 768px)
    display none


@font-face
  font-family 'Myriad Pro SemiExtended'
  src url('fonts/Myriad Pro Bold SemiExtended.eot')
  src local('☺'), url('fonts/Myriad Pro Bold SemiExtended.woff') format('woff'), url('fonts/Myriad Pro Bold SemiExtended.ttf') format('truetype')
  font-weight 700
  font-style normal

@font-face
  font-family 'Myriad Pro SemiExtended'
  src url('fonts/Myriad Pro Light SemiExtended.eot')
  src local('☺'), url('fonts/Myriad Pro Light SemiExtended.woff') format('woff'), url('fonts/Myriad Pro Light SemiExtended.ttf') format('truetype')
  font-weight 300
  font-style normal

@font-face
  font-family 'MyriadPro SemiCn'
  src url('fonts/MyriadPro BlackSemiCn.eot')
  src local('☺'), url('fonts/MyriadPro BlackSemiCn.woff') format('woff'), url('fonts/MyriadPro BlackSemiCn.ttf') format('truetype')
  font-weight 900
  font-style normal

@font-face
  font-family 'MyriadPro'
  src url('fonts/MyriadPro Bold.eot')
  src local('☺'), url('fonts/MyriadPro Bold.woff') format('woff'), url('fonts/MyriadPro Bold.ttf') format('truetype')
  font-weight 700
  font-style normal

@font-face
  font-family 'MyriadPro'
  src url('fonts/MyriadPro Regular.eot')
  src local('☺'), url('fonts/MyriadPro Regular.woff') format('woff'), url('fonts/MyriadPro Regular.ttf') format('truetype')
  font-weight 400
  font-style normal