@import "blocks/main-content/main-content.styl"

*
  box-sizing border-box

html 
  background #ffffff
  font-family "MyriadPro", Arial, sans-serif
  font-weight 400
  font-style normal
  font-size 62.5%
  color #000
  @media only screen and (max-width: 868px)
    font-size 58%
  @media only screen and (max-width: 768px)
    font-size 52%

body
  padding 0
  margin 0


@font-face
  font-family 'Myriad Pro SemiExtended'
  src url('fonts/Myriad Pro Bold SemiExtended.eot')
  src local('☺'), url('fonts/Myriad Pro Bold SemiExtended.woff') format('woff'), url('fonts/Myriad Pro Bold SemiExtended.ttf') format('truetype')
  font-weight 700
  font-style normal

@font-face
  font-family 'Myriad Pro SemiExtended'
  src url('fonts/Myriad Pro Light SemiExtended.eot')
  src local('☺'), url('fonts/Myriad Pro Light SemiExtended.woff') format('woff'), url('fonts/Myriad Pro Light SemiExtended.ttf') format('truetype')
  font-weight 300
  font-style normal

@font-face
  font-family 'MyriadPro SemiCn'
  src url('fonts/MyriadPro BlackSemiCn.eot')
  src local('☺'), url('fonts/MyriadPro BlackSemiCn.woff') format('woff'), url('fonts/MyriadPro BlackSemiCn.ttf') format('truetype')
  font-weight 900
  font-style normal

@font-face
  font-family 'MyriadPro'
  src url('fonts/MyriadPro Bold.eot')
  src local('☺'), url('fonts/MyriadPro Bold.woff') format('woff'), url('fonts/MyriadPro Bold.ttf') format('truetype')
  font-weight 700
  font-style normal

@font-face
  font-family 'MyriadPro'
  src url('fonts/MyriadPro Regular.eot')
  src local('☺'), url('fonts/MyriadPro Regular.woff') format('woff'), url('fonts/MyriadPro Regular.ttf') format('truetype')
  font-weight 400
  font-style normal