include ../person/person.pug
include ../header/header.pug
include ../profile/profile.pug
include ../contact/contact.pug
include ../skill/skill.pug
include ../information-list-item/information-list-item.pug
include ../software/software.pug

mixin main-content({person, profileText, contactsOfPerson, skillsArr, educationArr, experienceArr, softwareArr})
    main.main-content
        section.main-content__section.main-content__section_left
            section.main-content__person
                +person(person)
            section.main-content__profile
                +header({ title: "profile", imgSrc: "images/profile.png" })
                +profile(profileText)
            section.main-content__contact
                +header({ title: "contact", imgSrc: "images/contact.png" })
                .main-content__contact-list-container
                    +contact(contactsOfPerson)
            section.main-content__skills
                +header({ title: "skills", imgSrc: "images/skills.png" })
                .main-content__skills-item-container
                    - for (var i = 0; i < skillsArr.length; i += 1) 
                        +skill(skillsArr[i])
        section.main-content__section.main-content__section_right
            section.main-content__education
                +header({ title: "education", imgSrc: "images/education.png" })
                .main-content__education-list-container
                    - for (var i = 0; i < educationArr.length; i += 1)
                        +information-list-item(educationArr[i])
            section.main-content__experience
                +header({ title: "experience", imgSrc: "images/experience.png" })
                .main-content__experience-list-container
                    - for (var i = 0; i < experienceArr.length; i += 1)
                        +information-list-item(experienceArr[i])
            section.main-content__software
                +header({ title: "software", imgSrc: "images/software.png" })
                .main-content__software-item-container
                    - for (var i = 0; i < softwareArr.length; i += 1)
                        +software(softwareArr[i])