@import "../person/person.styl"
@import "../profile/profile.styl"
@import "../contact/contact.styl"
@import "../skill/skill.styl"
@import "../information-list-item/information-list-item.styl"
@import "../software/software.styl"

.main-content
  display flex
  padding-bottom 7.7vw
  @media only screen and (max-width: 768px)
    flex-direction column
    margin 0 3% 7.7vw 3%

  &__section_left
    flex-basis 32.98vw
    margin-left 5.24vw
    margin-right 3.24vw
    @media only screen and (min-width: 1650px)
      margin-left 35rem
    @media only screen and (max-width: 768px)
      margin-left 0
      margin-right 0

  &__person
    margin-top 8.3vw

  &__profile
    margin-top 6.935vw

  &__contact
    margin-top 4.153vw

  &__contact-list-container
    margin-top 3.0645vw

  &__skills
    margin-top 4.31vw

  &__skills-item-container
    display flex
    flex-direction column
    align-items center
    margin-top 0.9vw

  &__section_right
    flex-basis 50.65vw
    margin-right 4.637vw
    margin-left 3.24vw
    @media only screen and (min-width: 1650px)
      margin-right 35rem
    @media only screen and (max-width: 768px)
      margin-right 0
      margin-left 0

  &__education
    margin-top 6.45vw

  &__education-list-container
    margin-top 2.9vw
    @media only screen and (max-width: 768px)
      margin-top 2.5rem

  &__experience
    margin-top 4.8vw

  &__experience-list-container
    margin-top 4.15vw
    @media only screen and (max-width: 768px)
      margin-top 2.5rem

  &__software
    margin-top 4.8vw

  &__software-item-container
    display grid
    grid-template-columns 1fr 1fr
    grid-template-rows auto
    grid-column-gap 5.61vw
    grid-row-gap 2.21vw
    margin-top 3.1vw