mixin software({title, value})
    .software__item
        .software__name= title
        .software__level
            span(class="software__level_"+value+"-of-full")
            span.software__level_empty