mixin software({title, val})
    .sowtware
        .software__item
            .software__name= title
            .software__level-container
                span.software__level(style=`width: ${val}`)    
                span.software__level_empty