mixin software()
    .software
        .software__body
            .software__body_left
                .software__item.software__item_first
                    .software__name photoshop
                    .software__level
                        span.software__level_95-of-full
                        span.software__level_empty
                .software__item
                    .software__name illustrator
                    .software__level
                        span.software__level_70-of-full
                        span.software__level_empty
                .software__item
                    .software__name indesign
                    .software__level
                        span.software__level_50-of-full
                        span.software__level_empty
            .software__body_right
                .software__item.software__item_first
                    .software__name dreamveawer
                    .software__level
                        span.software__level_85-of-full
                        span.software__level_empty
                .software__item
                    .software__name after effects
                    .software__level
                        span.software__level_60-of-full
                        span.software__level_empty
                .software__item
                    .software__name HTML & CSS3
                    .software__level
                        span.software__level_95-of-full
                        span.software__level_empty