mixin software({title, val})
    section.sowtware
        .software__item
            p.software__name= title
            .software__level-container
                span.software__level(style=`width: ${val}`)    
                span.software__level_empty