@import "../header/header.styl"

$software_level
  display inline-block
  height 1.77vw
  @media only screen and (max-width: 768px)
    height 1.7em

.software

  &__name
    font-size 2.79rem
    text-transform uppercase

  &__level
    display flex
    flex-wrap nowrap
    margin-top 1.41vw

    &_empty
      @extends $software_level
      background-color #e6e6e6
      flex-grow 1

    &_100-of-full
      @extends $software_level
      background-color #3d6cb0
      width 100%

    &_95-of-full
      @extends $software_level
      background-color #3d6cb0
      width 95%

    &_90-of-full
      @extends $software_level
      background-color #3d6cb0
      width 90%

    &_85-of-full
      @extends $software_level
      background-color #3d6cb0
      width 85%

    &_80-of-full
      @extends $software_level
      background-color #3d6cb0
      width 80%

    &_75-of-full
      @extends $software_level
      background-color #3d6cb0
      width 75%

    &_70-of-full
      @extends $software_level
      background-color #3d6cb0
      width 70%

    &_65-of-full
      @extends $software_level
      background-color #3d6cb0
      width 65%

    &_60-of-full
      @extends $software_level
      background-color #3d6cb0
      width 60%

    &_55-of-full
      @extends $software_level
      background-color #3d6cb0
      width 55%

    &_50-of-full
      @extends $software_level
      background-color #3d6cb0
      width 50%

    &_45-of-full
      @extends $software_level
      background-color #3d6cb0
      width 45%

    &_40-of-full
      @extends $software_level
      background-color #3d6cb0
      width 40%

    &_35-of-full
      @extends $software_level
      background-color #3d6cb0
      width 35%

    &_30-of-full
      @extends $software_level
      background-color #3d6cb0
      width 30%

    &_25-of-full
      @extends $software_level
      background-color #3d6cb0
      width 25%

    &_20-of-full
      @extends $software_level
      background-color #3d6cb0
      width 20%

    &_15-of-full
      @extends $software_level
      background-color #3d6cb0
      width 15%

    &_10-of-full
      @extends $software_level
      background-color #3d6cb0
      width 10%

    &_5-of-full
      @extends $software_level
      background-color #3d6cb0
      width 5%

    &_0-of-full
      @extends $software_level
      background-color #3d6cb0
      width 0%
      