mixin software({title, val})
    .software__item
        .software__name= title
        .software__level
            span(class="software__level_full" style="width: " + #{val})    
            span.software__level_empty