mixin header({title, imgSrc})
    .header
            div(class= "header__circle")
                img(class= "header__img" src= imgSrc alt= "image-" + title)
            span.header__name= title
            .header__line