.header
  display flex
  align-items center
  justify-content space-between

  &__circle
    display flex
    justify-content center
    align-items center
    flex-shrink 0
    background-color #3d6cb0
    border-radius 50%
    position relative
    height 6.5em
    width 6.5em

    &:before
      top -6%
      left -6%
      right -6%
      bottom -6%
      border-width 1px
      content " "
      position absolute
      z-index 1
      border 1px solid #3d6cb0
      border-radius 50%

  &__img
    width 65%

  &__name
    font-family "MyriadPro", Arial, sans-serif
    font-weight 700
    font-style normal
    font-size 4.78rem
    color #3d6cb0
    padding-left 15px
    text-transform uppercase

  &__line
    margin 0 0 0 10px
    height 5px
    flex-grow 1
    background-color #3d6cb0
    