mixin header({title, imgSrc})
    header.header
        .header__image-container
            img(class="header__img" src=imgSrc alt=`image-${title}`)
        h2.header__name= title
        .header__line