mixin header({title, imgSrc})
    .header
        .header__image-container
            img(class="header__img" src=imgSrc alt=`image-${title}`)
        span.header__name= title
        .header__post-symbol