@import "../header/header.styl"

.education
  &__item
    display flex
    margin-left 0.62vw
    margin-top 1.4vw
    @media only screen and (max-width: 768px)
      margin-top 20px
    &_first
      margin-top 2.9vw
      @media only screen and (max-width: 768px)
        margin-top 20px
  &__dot
    flex-shrink 0
    height 2.07vw
    width 2.07vw
    border-radius 50%
    background-color black
  &__wrapper
    margin-left 1.77vw
  &__degree
    display flex
    flex-wrap wrap
    @media only screen and (max-width: 768px)
      display block
  &__level
    font-weight 700
    color #3d6cb0
    font-size 2.07vw
    line-height 2vw
    text-transform uppercase
    @media only screen and (max-width: 768px)
      font-size 2.79rem
      line-height 0.7em
  &__date
    margin-left 1.33vw
    font-size 2.07vw
    line-height 2vw
    @media only screen and (max-width: 768px)
      font-size 2.79rem
      line-height 0.7em
  &__university
    flex-basis 100%
    margin-top 0.8vw
    font-size 2.07vw
    line-height 2vw
    text-transform uppercase
    @media only screen and (max-width: 768px)
      display block
      margin-top 10px
      font-size 2.79rem
      line-height 0.7em
  &__text
    font-size 1.67rem
    margin-top 0.8vw
    @media only screen  and (max-width: 768px)
      margin-top 15px