mixin education({level, date, university, text, isFirst})
    .education
        .education__item(class="education__item_"+isFirst)
            .education__pre-symbol
            .education__wrapper
                .education__degree
                    span.education__level= level
                    span.education__date= date
                    span.education__university= university
                .education__text= text